#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.panel {
  height: 340px;
  display: inline-block;
  background-color: #840032;
  border-radius: 30px;
}
@media screen and (max-width: 500px) {
  .panel {
    width: 300px;
    height: 300px;
  }
  .score {
    font-size: 40px;
  }
}

@media screen and (min-width: 501px) {
  .panel {
    width: 400px
  }  
  .score {
    font-size: 50px;
  }
}

@media screen and (max-width: 700px) {
  .panel {
    width: 400px
  }
  .score {
    font-size: 50px;
  }
}

@media screen and (min-width: 701px) {
  .panel {
    width: 700px;
  }
  .score {
    font-size: 70px;
  }
}

.teamImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 70%;
}

.button {
  background-color: #e5dada;
  border: 3px solid #e59500;
  color: #002642;
  padding: 1px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  cursor: pointer;
  font-family: fantasy;
}