@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */

:root {
    color-scheme: light dark;
    background-color: #4b322a;
    background-image: linear-gradient(to right, #8f2d56 , #4b322a);
}

.imageBorder {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-left: 5px solid #fea889;
  border-bottom: 2px solid #fea900;
  margin-top: 50px;

}

.profilePhoto {
  border-radius: 50%;
  padding: 3%;
  margin: auto;
}

.name {
  font-size: 60px;
  font-family: 'Andale Mono';
  text-align: center;
}

.swd {
  font-size: 30px;
  font-family: 'Andale Mono';
  text-align: center;
}
