#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.panel {
  height: 340px;
  display: inline-block;
  background-color: #904c77;
  border-radius: 30px;
  box-shadow: 5px 10px 18px #5e3d57;
}
@media screen and (max-width: 500px) {
  .panel {
    width: 300px;
    height: 300px;
  }
  .inputField {
    width: 280px;
  }
}

@media screen and (min-width: 501px) {
  .panel {
    width: 400px
  }
}

@media screen and (max-width: 700px) {
  .panel {
    width: 400px
  }
}

@media screen and (min-width: 701px) {
  .panel {
    width: 700px;
    height: 700px;
  }
  .inputField {
    width: 680px;
  }
}

.inputField {
  height: 30px;
  border: 1px solid #e49ab0;
  border-radius: 10px;
  color: #fff;
  font-family: cursive;
}

.p1 {
  color: #e49ab0
}
.p2 {
  color: #ecb8a5
}
.p3 {
  color: #eccfc3;
  text-align: left;
}

.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}