:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(228,154,176);
  background: linear-gradient(90deg, rgba(228,154,176,1) 0%, rgba(236,184,165,1) 35%, rgba(149,125,149,1) 100%);
}